In [1]:
import pandas as pd

s1 = pd.Series([10,20,30,40])
s2 = pd.Series([10,20,30,40])

s1+s2

0    20
1    40
2    60
3    80
dtype: int64

In [2]:
import numpy as np


a1 = np.array([[[10,20],[30,40]],[[10,20],[30,40]]])

a1.ndim

3

In [3]:
a1.shape

(2, 2, 2)

In [5]:
data1 = pd.read_excel("Lab1data.xlsx")
data1.describe()

,Age,Quantitative,Verbal,Technical,Interview,Total,Results
count,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,30.300000,42.500000,50.200000,48.000000,42.200000,182.900000,0.400000
std,2.311805,16.694976,15.767759,13.080945,18.552029,39.125013,0.516398
min,27.000000,22.000000,23.000000,30.000000,22.000000,119.000000,0.000000
25%,28.250000,26.750000,41.250000,37.750000,26.500000,170.000000,0.000000
50%,30.500000,44.500000,50.000000,47.000000,38.500000,183.500000,0.000000
75%,31.750000,53.750000,65.000000,54.750000,58.750000,204.000000,1.000000
max,34.000000,72.000000,69.000000,70.000000,70.000000,241.000000,1.000000